[submodule "_includes/s-ott-plugins"]
	path = _includes/s-ott-plugins
	url = https://github.com/BrightcoveLearning/s-ott-plugins
	branch = main
[submodule "assets/images/s-ott-plugins-img"]
	path = assets/images/s-ott-plugins-img
	url = https://github.com/BrightcoveLearning/s-ott-plugins-img
	branch = main
