---
title: Registered Users
parent: Home
description: Quickly view account details, subscription plans and viewing history for the registered users in your account.
---

<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <h2>Topics</h2>
  <section>
    {% for item in site.data.navigation %}
      {% if item.name == page.title %}
        {% for doc in item.docs %}
        <ul>
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
        </ul>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </section>
</article>